configuration {
	modi: "window,drun,ssh,combi";
	font: "0xProto Nerd Font 10";
	combi-modi: "drun";
	case-sensitive: false;
	normalize-match: true;
	show-icons: true;
	icon-theme: "Papirus";
	matching: "fuzzy";
	sorting-method: "fzf";
	display-drun: "Apps";
	drun {
		fallback-icon: "application-x-addon";
	}
}
@theme "launcher.rasi"
